.taskItem {
	padding: 10px;
	border: 1px solid var(--devider-color);
}

.taskText {
	margin-bottom: 10px;
	font-size: 18px;
	color: var(--text-color);
	background: var(--bg-task-color);
	padding: 10px 15px;
	border: none;
	outline: none;
}

.taskEdit {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.taskActions {
	display: flex;
	gap: 15px;
}

.completed {
	opacity: 0.3;
}
